<h2>About me</h2>
<p>I am a passionate software engineer with 10+ years of experience in the programming field. I love developing applications, regardless of the operating system or programming language.</p>

<hr />

<h2>Skills</h2>
<span class="badge badge-pill badge-info">.NET</span>
<span class="badge badge-pill badge-warning">.NET Core</span>
<span class="badge badge-pill badge-warning">ASP.NET</span>
<span class="badge badge-pill badge-warning">MVC</span>
<span class="badge badge-pill badge-info">Javascript</span>
<span class="badge badge-pill badge-warning">jQuery</span>
<span class="badge badge-pill badge-warning">nodeJs</span>
<span class="badge badge-pill badge-warning">Angular</span>
<span class="badge badge-pill badge-info">HTML</span>
<span class="badge badge-pill badge-warning">Bootstrap</span>
<span class="badge badge-pill badge-warning">CSS/SASS/SCSS</span>
<span class="badge badge-pill badge-info">SQL</span>
<span class="badge badge-pill badge-warning">mySQL</span>
<span class="badge badge-pill badge-warning">MSSQL</span>
<span class="badge badge-pill badge-warning">sqlite</span>
<span class="badge badge-pill badge-warning">solr</span>
<span class="badge badge-pill badge-info">Agile Methodologies</span>
<span class="badge badge-pill badge-warning">Scrum</span>
<span class="badge badge-pill badge-warning">Kanban</span>
<span class="badge badge-pill badge-info">linux</span>
<span class="badge badge-pill badge-warning">bash</span>
<span class="badge badge-pill badge-warning">apache/nginx</span>
<span class="badge badge-pill badge-info">GIT</span>
<span class="badge badge-pill badge-info">Regular Expressions</span>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/bibistroc">Code</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/bibistroc">Profile</a>
  </li>
</ul>
